In [ ]:
#from math import *
##import numpy as np
#import pandas as pd
#import matplotlib.pyplot as plt
#from IPython.display import Image
#from scipy import *


friends= (['Joseph','Glenn', 'Sally'])
carryon= (['socks', 'shirt', 'perfume'])
print (friends)
print (carryon)
print('\n')

['Joseph', 'Glenn', 'Sally']
['socks', 'shirt', 'perfume']

In [ ]:
x=2
x="hello"
x=4
print (x)
print('\n')

4

In [ ]:
print([24,76])
print (['red','yellow','blue'])
print (['red',24,98.6])
print ([1,[5,6],7])
print([],'\n')

[24, 76]
['red', 'yellow', 'blue']
['red', 24, 98.6]
[1, [5, 6], 7]
[]

In [ ]:
for i in [5,4,3,2,1]:
  print (i)
print ('Blastoff!\n')

5
4
3
2
1
Blastoff!

In [ ]:
for friend in friends:
  print ('Happy New Year: ', friend)
print ('Done!\n')

print (friends[1])
print('\n')

Happy New Year:  Joseph
Happy New Year:  Glenn
Happy New Year:  Sally
Done!

Glenn

In [ ]:
fruit='Banana'
#fruit[0]='b' #TypeError: 'str' object does not support item assignment
print (fruit)
x=fruit.lower()
print (x)
print('\n')

Banana
banana

In [ ]:
lotto=[2,14,26,41,63]
print (lotto)
lotto[2]=28
print (lotto)
print('\n')

[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

In [ ]:
lotto.append("Zaf") #add to list
#lotto[5]='add' can't add an element to a list without appending
lotto[4]='Temper'
#lotto[4]=600
print (lotto)
print('\n')

[2, 14, 28, 41, 'Temper', 'Zaf']

In [ ]:
greet='Hello Bob'
print (len(greet))
print('\n')

9

In [ ]:
y=[1,2,'joe',99]
print (len(y))
print('\n')

4

In [ ]:
print(range(4))
print('\n')

range(0, 4)

In [ ]:
for j in range(len(friends)):
  friend=friends[j]
  print ('Happy New Year: ',friend)
print('\n')

Happy New Year:  Joseph
Happy New Year:  Glenn
Happy New Year:  Sally

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)
d=[7,8]
e=d+c
print(e)

[1, 2, 3, 4, 5, 6]
[7, 8, 1, 2, 3, 4, 5, 6]

In [ ]:
t=[9,41,12,3,74,15,56]
print(t[1:3])
print(t[:4])
print(t[1:3])
print(t[:])
t[::2]
print(t[:1:])

[41, 12]
[9, 41, 12, 3]
[41, 12]
[9, 41, 12, 3, 74, 15, 56]
[9]

In [ ]:
x=[1,2,3]
type(x)
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
stuff=list()
print(stuff)
stuff.append('book')
print(stuff)
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)
stuff.remove(99)
print(stuff)

[]
['book']
['book', 99]
['book', 99, 'cookie']
['book', 'cookie']

In [ ]:
some=[1,5,7,12,'etdc',34]
print(9 in some)
print(5 in some)

False
True

In [ ]:
5 in some

True

In [ ]:
13 not in some

True

In [ ]:
'etdc' in some

True

In [ ]:
'etdc' not in some

False

In [ ]:
friends.sort()
print(friends)
print(friends[0])

x=[34,2,4,5,7,543]
x.sort()
print(x)

#lol=[3,4,'joy']   '<' not supported between instances of 'str' and 'int' (works for the same datatype only)
#lol.sort()
#print(lol)

['Glenn', 'Joseph', 'Sally']
Glenn
[2, 4, 5, 7, 34, 543]

In [ ]:
nums=[3,41,12,9,74,15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [ ]:
abc='With three words'
stuff=abc.split()
print(stuff)

print(len(stuff))

print(stuff[0])

['With', 'three', 'words']
3
With

In [ ]:
m='zingyacraman@gmail.com'
s=m.split('@')
print(s)

['zingyacraman', 'gmail.com']

In [ ]:
line='A lot           of spaces'
etc=line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [ ]:
line='first;second;third'
thing=line.split()
print(thing)
print(len(thing))

['first;second;third']
1

In [ ]:
thing=line.split(';')
print(thing)
print(len(thing))

['first', 'second', 'third']
3